name: Build

on:
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:
    branches: [main]

jobs:
  build-and-run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, windows-11-arm]
    env:
      AIC_SDK_LICENSE: ${{ secrets.AIC_SDK_LICENSE }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@beta # Beta to force building with a different toolchain than the one used by the SDK
      - name: Build and Run Example
        run: cargo run --example basic_usage --features download-lib
